

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2;
    font-size: 18px;
    color: #000;
}

body * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

main {
    width: 100%;
    overflow: hidden;
    min-width: 1000px;
}

section {
    position: relative;
    width: 100%;
    padding: 55px 0;
}

.container {
    width: 1000px;
    position: relative;
    margin: 0 auto;
}

h1, h2, h3, ul, li, p {
    margin: 0;
    padding: 0;
    list-style-type: none;
    direction: ltr;
}

li, p {
    line-height: 1.3;
    direction: ltr;
    text-align: left;
}

h1 {
    font-size: 50px;
    margin: 0 0 50px;
    font-weight: normal;
    max-width: 625px;
    text-transform: uppercase;
}

h1 span {
    font-weight: bold;
    color: #c0262b;
}

li, p {
    font-size: 18px;
    direction: ltr;
}

h2 {
    font-size: 38px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0 0 25px;
}

h2 span {
    font-weight: bold;
    color: #c0262b;
}

h3 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 26px;
    margin: 0 0 25px;
}

h3 span {
    font-weight: bold;
    color: #c0262b;
}

p span {
    color: #c0262b;
}

.list span {
    font-weight: bold;
    color: #c0262b;
}

header {
    line-height: 96px;
    font-size: 0;
}

header img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 210px;
}

header p {
    /* display: inline-block; */
    max-width: 255px;
    font-size: 14px;
    vertical-align: middle;
    text-transform: uppercase;
    line-height: 1.2;
}

.s1 {
    background: url("../img/s1.jpg") no-repeat center top;
    padding: 0;
}

.s1 .container {
    padding-bottom: 55px;
}

.list li {
    padding-left: 30px;
    background: url(../img/lis.png) no-repeat left 4px;
    min-height: 26px;
    margin: 0 0 15px;
    line-height: 1.3;
}

.s1 .list {
    max-width: 275px;
}

.s1 .prod {
    position: absolute;
    bottom: 0;
    left: 250px;
    z-index: 1;
    max-width: 100%;
    width: 400px;
}

.form {
    width: 350px;
    background: #FFFFff;
    position: absolute;
    z-index: 9;
    right: 0;
    bottom: 0;
    padding: 20px 0 45px;
}

main input, main select {
    display: block;
    width: 100%;
    max-width: 310px;
    margin: 0 auto 16px;
    border: 1px solid #e7e7e7;
    background: #f8f9f9;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 18px;
    color: #000;
    padding-left: 26px;
    height: 63px;
}

select {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    background: #f8f9f9 url("../img/sel.png") no-repeat 96% center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

input::-webkit-input-placeholder {
    color: #000000;
}

input::-moz-placeholder {
    color: #000000;
}

/* Firefox 19+ */
input:-moz-placeholder {
    color: #000000;
}

/* Firefox 18- */
input:-ms-input-placeholder {
    color: #000000;
}

.note {
	vertical-align: middle;
    font-size: 12px;
    color: #dc6337;
}

.prices {
    width: 100%;
    text-align: center;
    font-size: 0;
    margin: 0 0 15px;
}

.new {
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
    letter-spacing: normal;
    margin: 5px;
    margin-left: 15px;
    color: #c0262b;
}

.new b {
    font-size: 26px;
}

.old {
    display: inline-block;
    vertical-align: middle;
    font-size: 19px;
    color: #b2b2b2;
    margin: 5px;

}

.btn {
    display: block;
    background: url("../img/btn.png") no-repeat;
    width: 280px;
    height: 81px;
    border: 0;
    outline: none;
    text-align: center;
    color: #FFFFff;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    cursor: pointer;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    margin: 0 auto;
}

.btn:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.form_title {
    text-align: center;
    font-size: 24px;
    color: #c0262b;
    margin: 0 0 20px;
}

.s2 {
    background: #ebe9d4;
    overflow: hidden;
}

blockquote {
    padding: 15px 15px 15px 25px;
    background: #FFFFff;
    border-left: 3px solid #cc6238;
    margin: 0 0 25px;
}

.col-2 {
    width: 50%;
    float: left;
}

.col-2-offset {
    position: relative;
    left: 50%;
}

blockquote p:last-child {
    margin: 0;
}

.s2 img {
    position: absolute;
    left: -165px;
    top: -55px;
}

.s3 {
    background: #FFFFff;
}

.s3 h3 {
    text-align: center;
}

.items {
    text-align: center;
    font-size: 0;
}

.col-4 {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding: 20px 0;
    text-align: center;
}

.col-4 p {
    text-align: center;
}

.items-4 img {
    display: block;
    -webkit-border-radius: 50%;
    border-radius: 50%;

    border: 3px solid #ff0f0f;

}

.col-4-img {
    display: inline-block;
    margin: 0 0 15px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 0 15px #ABABAB;
    -webkit-box-shadow: 0 0 15px #ABABAB;
    border: 7px solid #FFFFff;
}

.s4 {
    background: #ebe9d4;
    overflow: hidden;
}

.s4 img {
    position: absolute;
    bottom: -55px;
    right: -220px;
}

.s5 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f58643+0,f58643+50,ffffff+50,ffffff+100 */
    background: rgb(245, 134, 67); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(245, 134, 67, 1) 0%, rgba(245, 134, 67, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(245, 134, 67, 1) 0%, rgba(245, 134, 67, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(245, 134, 67, 1) 0%, rgba(245, 134, 67, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f58643', endColorstr='#ffffff', GradientType=1); /* IE6-9 */

    overflow: hidden;
}

.s5_p {
    padding: 0 150px 0 60px;
}

.radial {
    display: block;
    width: 570px;
    height: 570px;
    position: absolute;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f4f4+0,ffffff+20,000000+100 */
    background: transparent; /* Old browsers */

    background: -moz-radial-gradient(center, ellipse cover, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 20%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 20%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 20%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.s5 img {
    position: absolute;
    top: -28px;
    left: 112px;
    z-index: 9;
}

.s5 .radial {
    position: absolute;
    left: -89px;
    top: -94px;
}

.s6 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f4f4+0,ffffff+50,ffffff+50,15c0db+50,15c0db+100 */
    background: rgb(244, 244, 244); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(21, 192, 219, 1) 50%, rgba(21, 192, 219, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(21, 192, 219, 1) 50%, rgba(21, 192, 219, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(21, 192, 219, 1) 50%, rgba(21, 192, 219, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#15c0db', GradientType=1); /* IE6-9 */

    overflow: hidden;

}

.s6 img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
}

.s6 .radial {
    position: absolute;
    right: -89px;
    top: -166px;
}

.s7 {
    text-align: center;
    background: url("../img/s7.jpg") no-repeat center top;
    background-size: cover;
    color: #FFFFff;
}

.s7 p {
    margin: 0 0 25px;
}

.h-big {
    font-size: 50px;
}

.h2 {
    display: inline-block;
    padding: 0 10px;
    background: #cd0000;
}

.s7 .items-4 img {
    border-color: #000;
}

.s7 .col-4-img {
    border-color: #e05a28;
}

.text-center {
    text-align: center;
}

span.span-red, .span-red span {
    color: #cd0000;
}

table {
    color: #000;
    margin: 40px 0 0;
    border: 2px solid #e7e7e7;
    box-shadow: 0 0 15px #ABABAB;
    -webkit-box-shadow: 0 0 15px #ABABAB;
}

th {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 21px;
    padding: 18px 30px;
    text-align: left;
    background: #f9f9f9;
    border-bottom: 2px solid #e7e7e7;
}

th, td {
    border-right: 2px solid #e7e7e7;
}

tr th:last-child, tr td:last-child {
    border-right: none;
}

tr:nth-child(2n-1) td:nth-child(2) {
    background: #f9f9f9;

}

tr th:nth-child(2n-1) {
    background: #d02131;
    color: #FFFFff;
}

tr th:first-child {
    width: 186px;
}

tr th:nth-child(2) {
    width: 438px;
}

tr td {
    padding: 18px 30px;
    vertical-align: top;
    text-align: left;
    border-bottom: 2px solid #e7e7e7;
}

tr td:nth-child(2n-1) {
    background: #d02131;
    color: #FFFFff;
}

.s9 {
    background: url("../img/s9.jpg") no-repeat center top;
    background-size: cover;
    padding: 80px 0;
}

.s9_wrap {
    padding-left: 450px;
}

.s9 .btn {
    margin: 40px 0 0;
}

.toform.btn {
    line-height: 81px;
}

.s10 {
    padding: 70px 0 60px;
}

.s10 .list {
    max-width: 290px;
    margin: 40px 0;
}

.s10 .text {
    margin: 30px 0 0;
    padding: 20px 30px;
    border: 1px solid #e4e4e4;
    max-width: 640px;
}

.s10 .prod {
    position: absolute;
    top: 41px;
    right: 168px;
    width: 50%;
    max-width: 100%;
    width: 300px;
}

.s10 .plaha {
    position: absolute;
    right: 131px;
    top: 157px;
}

.s11 {
    background: url("../img/s11.jpg") no-repeat center top;
    background-size: cover;
    color: #FFFFff;
    text-align: center;
}

.s11 .text {
    max-width: 940px;
    margin: 0 auto 25px;
    padding: 20px 10px;
    background: rgba(0, 0, 0, 0.3);
}

.s11 ul {
    padding: 15px 0 0;
}

.s11 li {
    max-width: 400px;
    text-align: left;
    padding-left: 52px;
    margin: 0 0 18px;
    /* background: url("../img/s11_1.jpg") no-repeat left 4px; */
}

.s11 li:nth-child(2) {
    /* background: url("../img/s11_2.jpg") no-repeat left 4px; */

}

.s11 li:nth-child(3) {
    /* background: url("../img/s11_3.jpg") no-repeat left 4px; */

}

.s11 li:nth-child(4) {
    /* background: url("../img/s11_4.jpg") no-repeat left 4px; */
}

.s12 {
    /* background: url("../img/s12.jpg") no-repeat center bottom; */
    padding: 60px 0;
}

.s12 .wrap {
    padding-left: 375px;
}

.s12 p {
    margin: 0 0 20px;
}

.s12 .text {
    position: relative;
    padding-left: 145px;
}

.s12 .text p {
    margin: 0;
}

.s12 .text:before {
    /* content: url("../img/s12_r.png"); */
    display: block;
    position: absolute;
    left: -40px;
    top: 0;
}

.s12 .text b {
    color: #0d879a;
    font-size: 24px;
    font-weight: normal;
}

.s13 {
    background: url("../img/s13.jpg") no-repeat center top;
    background-size: cover;
    color: #fff;
}

.s13 h2 {
    margin: 0 0 50px;
}

.s13 div .col-2:first-child {
    padding: 20px 250px 20px 20px;
    background: #0a5461;
}

.s13 div .col-2:nth-child(3) {
    padding: 20px 20px 20px 250px;
    background: #c0262b;
}

.s13 p {
    margin: 0 0 20px;
}

.s13 .prod {
    position: absolute;
    top: 102px;
    left: 283px;
}

.s14 {
    /* background: url("../img/s14.jpg") no-repeat center; */
    background-size: cover;
}

.s14 p {
    margin: 0 0 15px;
    max-width: 310px;
}

.s14 p b {
    display: block;
    max-width: 215px;
}

.s14 .item_wrap {
    overflow: hidden;
}

.s14 img {
    float: left;
    margin-right: 1px;
    max-width: 100%;
    width: 148px;

}

.s14 .item {
    margin: 0 0 15px;
    min-height: 166px;
}
.s14 .item p{
    font-size: 17px;
}
.s15 {
    /* background: url("../img/s15.jpg") no-repeat center top; */
    background-size: cover;
    direction: ltr;
}

.s15 .wrap {
    max-width: 685px;
}

.s15 p {
    margin: 0 0 40px;
    max-width: 514px;
}

.s15 span {
    color: #0e931a;
    font-weight: normal;
}

.s15 h2 {
    margin: 0 0 50px;
}

.s15 .btn {
    margin: 0;
}

.s16 .item {
    padding: 20px 106px;
    text-align: left;

}

.s16 .items .item:nth-child(2n) {
    background: #eef5fa;
}

.s16 .item img {
    float: right;
    margin-left: 27px;
}

.s16 .item_wrap {
    overflow: hidden;
}

.s16 .item_head {
    font-size: 16px;
    margin: 0 0 15px;
    line-height: 34px;
    text-align: right;
}

.s16 .item_head b {
    color: #004b62;
}

.s16 .item_head span {
    display: inline-block;
    margin: 0 10px;
    padding: 0 10px;
    background: #dcf5de;
}

.s16 .item_head i {
    font-weight: bold;
}

.s17 h1 {
    margin: 0 0 15px;
}

.s17 .text {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    max-width: 380px;
    margin: 0 0 45px;
}

.timer_head {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin: 0 0 15px;
}

.timer {
    text-align: center;
    font-size: 0;
}

.timer div {
    display: inline-block;
    width: 90px;
    margin: 0 7px;
    border: 1px solid #e9e9e9;
    position: relative;
    font-size: 44px;
    font-weight: bold;
    color: #434343;
    padding: 10px 0;
}

.timer div span {
    position: absolute;
    display: block;
    width: 100%;
    top: 100%;
    left: 0;
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
}

.s17 .form {
    padding-top: 0;
}

.s17 .ti {
    padding: 15px 0 35px;
    background: #f8f9f9;
    margin: 0 0 15px;
}
.doc_mob{
    display: none;
}
/* ==========================================================================
   Media Queries`
   ========================================================================== */

@media only screen and (max-width: 1023px) {
    main {
        min-width: 768px;
    }

    .container {
        width: 700px;
    }

    header img {
        margin-right: 80px;
    }

    br {
        display: none;
    }

    .form {
        position: static;
        margin: 40px auto 0;
    }

    h1 {
        font-size: 32px;
        max-width: none;
        text-align: center;
        margin: 0 0 25px;
    }

    .s1 {
        background-size: cover;
    }

    .s1 .prod {
        position: absolute;
        left: 340px;
        bottom: auto;
        top: 202px;
        width: 410px;
    }

    .col-2 {
        width: 100%;
    }

    .col-2-offset {
        left: auto;
    }

    .s2 .col-2, .s4 .col-2 {
        position: relative;
        z-index: 9;
    }

    .s2 img {
        opacity: 0.3;
        left: 50%;
        margin-left: -410px;
    }

    .s4 img {
        opacity: 0.4;
        left: 50%;
        margin-left: -405px;
    }

    .items-4 img {
        max-width: 100%;
    }

    .s3 .col-4, .s7 .col-4 {
        padding: 0 10px;
    }

    h3 {
        font-size: 22px;
    }

    h2 {
        font-size: 26px;
    }

    .s5 {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfff4+0,e9e9ce+100;Wax+3D+%232 */
        background: rgb(252,255,244); /* Old browsers */
        background: -moz-linear-gradient(left,  rgba(252,255,244,1) 0%, rgba(233,233,206,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=1 ); /* IE6-9 */


    }

    .s6 {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0fb4e7+0,a9e4f7+100 */
        background: rgb(15,180,231); /* Old browsers */
        background: -moz-linear-gradient(left,  rgba(15,180,231,1) 0%, rgba(169,228,247,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(15,180,231,1) 0%,rgba(169,228,247,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(15,180,231,1) 0%,rgba(169,228,247,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0fb4e7', endColorstr='#a9e4f7',GradientType=1 ); /* IE6-9 */


    }

    .s5_p, .s6_p {
        padding: 0;
        max-width: 430px;
    }
    .radial{
        display: none;
    }
    .s5 img {
        position: absolute;
        top: -14px;
        left: auto;
        z-index: 9;
        width: 320px;
        right: -110px;
    }
    .s6 img {
        position: absolute;
        top: 25px;
        left: auto;
        z-index: 9;
        width: 300px;
        right: -30px;
    }
    .s9{
        background-position: 35% center;
    }
    .s10 .prod{
        top: 52px;
        right: -157px;
        width: 520px;
    }
    .s10 .plaha {
        position: absolute;
        right: 210px;
        top: 0;
    }
    .s11 div .col-2{
        text-align: center;
    }
    .s11 ul{
        display: inline-block;
    }
    .s12 .wrap{
        padding-left: 140px;
    }
    .s12{
        background-position: 42% bottom;
    }
    .s13 .prod{
        position: relative;
        top: auto;
        left: 133px;
        margin: 30px auto 20px;
    }
    .s13 div .col-2{
        padding: 20px!important;
        max-width: 450px;
        margin: 0 auto;
        float: none;
    }
    .s14 .col-2{
        width: 50%;
        padding: 0 10px;
    }
    .s14 img{
        width: 60px;
        margin-right: 10px;
    }
    .h-big{
        font-size: 32px;
    }
    .s15 .wrap{
        max-width: 495px;
    }
    .s16 .item{
        padding: 20px;
    }
    .s17 h1 span{
        display: block;
    }
    .s17 .text{
        font-size: 20px;
    }
    .s17 .text span{
        display: block;
    }
    .doc_mob{
        display: block;
        margin: 0 auto 15px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        box-shadow: 0 0 15px #ABABAB;
        -webkit-box-shadow: 0 0 15px #ABABAB;
        border: 7px solid #FFFFff;
    }
    .s12{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfff4+0,e9e9ce+100;Wax+3D+%232 */
        background: rgb(252,255,244); /* Old browsers */
        background: -moz-linear-gradient(left,  rgba(252,255,244,1) 0%, rgba(233,233,206,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=1 ); /* IE6-9 */

    }
    .s12 .wrap{
        padding-left: 0;
    }
    .s12 h2{
        text-align: center;
    }
    .s12 .text{
        padding-left: 185px;
    }
    .s12 .text:before{
        left: 0;
    }
}

@media screen and (max-width: 767px){
    main{
        min-width: 320px;
    }
    .container{
        width: 300px;
    }
    header{
        padding: 20px 0;
    }
    header img{
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 20px;
    }
    header p{
        max-width: 100%;
        display: block;
        text-align: center;
    }
    h1{
        font-size: 22px;
    }
    li, p{
        font-size: 16px;
        direction: ltr;
    }
    .form{
        width: 300px;
    }
    .s1 .container{
        padding-bottom: 35px;
    }
    input, select{
        max-width: 260px;
        padding-left: 15px;
        height: 48px;
    }
    .s2{
        padding: 35px 0;
    }
    section{
        padding: 35px 0;
    }
    .s3 .col-4, .s7 .col-4{
        width: 50%;
        margin-bottom: 20px;
    }
    h2{
        font-size: 24px;
        text-align: center;
    }
    .s4 img{
        opacity: 0.3;
    }
    .s5 img{
        position: relative;
        top: auto;
        right: -57px;
    }
    .s6 img{
        position: relative;
        top: auto;
        right: -8px;
        margin: 0 0 20px;
    }
    .h-big{
        font-size: 25px;
    }
    .s8{
        display: none;
    }
    .s9_wrap{
        padding-left: 0;
    }
    .s9{
        padding: 35px 0;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfff4+0,e9e9ce+100;Wax+3D+%232 */
        background: rgb(252,255,244); /* Old browsers */
        background: -moz-linear-gradient(left,  rgba(252,255,244,1) 0%, rgba(233,233,206,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=1 ); /* IE6-9 */
    }
    .s10 .prod{
        position: relative;
        top: auto;
        right: auto;
        width: 320px;
        margin: 20px 0 0;
        
    }
    .s10 .plaha{
        top: auto;
        bottom: 6px;
        right: 90px;
    }
    .s10, .s12{
        padding: 35px 0;
    }
    .s11 img{
        max-width: 100%;
        display: block;
        margin: 0 auto 20px;
    }
    .doc_mob{
        max-width: 200px;
        background: #FFFFff;
        margin: 0 auto 20px;
    }
    .s12 .text{
        padding-left: 0;
        padding-top: 100px;
    }
    .s12 .text:before{
        left: auto;
        right: 0;
    }
    .s12 .text b{
        font-size: 20px;
        display: block;
        margin: 0 0 10px;
    }
    .s13 .prod{
        left: 0;
        width: 320px;
    }
    .s14 .col-2{
        width: 100%;
        float: none;
    }
    .s14 .item{
        min-height: 1px;
    }
    .s15{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0fb4e7+0,a9e4f7+100 */
        background: rgb(15,180,231); /* Old browsers */
        background: -moz-linear-gradient(left,  rgba(15,180,231,1) 0%, rgba(169,228,247,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(15,180,231,1) 0%,rgba(169,228,247,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(15,180,231,1) 0%,rgba(169,228,247,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0fb4e7', endColorstr='#a9e4f7',GradientType=1 ); /* IE6-9 */

    }
    .s15 p{
        text-align: center;
        margin: 0 0 20px;
    }
    .s15 h2{
        margin: 0 0 20px;
    }
    .s16 .item img{
        width: 60px;
        margin-right: 10px;
    }
    .s16 .item{
        padding: 20px 10px;
        margin-left: -10px;
        margin-right: -10px;
    }
    .s16 .item_head{
        font-size: 14px;
        line-height: 1.6;
        margin: 0 0 10px;
        text-align: right;
    }
    .s16 p{
        font-size: 14px;
    }
    .timer div{
        width: 80px;
    }
    .s1 .prod{
        position: relative;
        top: auto;
        left: -1px;
        margin-top: 20px;
        width: 306px;
    }
    .s17 .text{
        font-size: 18px;
        text-align: center;
        margin: 0 0 20px;
    }
    .s17 h1 span{
        display: inline-block;
    }
    .form{
        margin: 20px auto 0;
    }
    .new{
        font-size: 22px;
    }
    .new b{
        font-size: 30px;
    }
    .old{
        font-size: 18px;    
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


.fixedtop *{
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}
.fixedtop{
  font-family: 'Roboto', sans-serif!important;
  width: 100%;
  height: 73px;
  background-color: #fffc27;
  box-shadow: 11.4px -23.4px 8.5px 1.5px rgba(38, 38, 38, 0.17);
  -webkit-box-shadow: 11.4px -23.4px 8.5px 1.5px rgba(38, 38, 38, 0.17);
  -moz-box-shadow: 11.4px -23.4px 8.5px 1.5px rgba(38, 38, 38, 0.17);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 59;
}
.fixedtop__wrap{
  max-width: 1100px;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
.fixedtop__img{
    display: block;
    float: left;
    padding-top: 27px;
    width: 169px;

}
.fixedtop__cap{
  float: left;
  font-size: 22.3px;
  font-weight: bold;
  line-height: 1.4;
  color: #da2037;
  padding-top: 8px;
  margin-left: 35px;
}
.fixedtop__text{
  display: block;
  font-size: 16px;
	font-weight: bold;
	line-height: 1.5;
	color: #282828;
}
.fixedtop__cap_sm{
  display: none;
}
.fixedtop__btn{
  border:0;
  display: block;
  margin-top: 10px;
  padding: 12px 20px;
  letter-spacing:-.25px;
  float: right;
  font-size: 16px;
	font-weight: bold;
	line-height: 1.5;
	color: #ffffff;
  background-color: #fe001e;
  background-image: linear-gradient(to top, #d2263c 0%, #fe001e 100%);
  background-image: -webkit-linear-gradient(to top, #d2263c 0%, #fe001e 100%);
  background-image: -moz-linear-gradient(to top, #d2263c 0%, #fe001e 100%);
  cursor: pointer;
  transition: linear 0.5s;
  -webkit-transition: linear 0.5s;
  -moz-transition: linear 0.5s;
}
.fixedtop__btn span {
	line-height: 1.5;
    font-size: 16px;
    font-weight: bold;
}
.fixedtop__btn:hover,.fixedtop__btn:focus{
  background-image: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.fixedtop__text span {
	color: #000;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.5;
}

@media screen and (max-width: 1119px){
  body{
    top: 63px;
  }
  .fixedtop{
    height: 63px;
  }
  .fixedtop__wrap{
    max-width: 90%;
    width: 100%;
  }
  .fixedtop__img{
    width: 135px;
    padding-top: 20px;
  }
  .fixedtop__cap{
    padding-top: 11px;
    margin-left: 10px;
    font-size: 16px;
  }
  .fixedtop__text{
    font-size: 12px;
  }
  .fixedtop__btn{
    margin-top: 7px;
  }
}
@media screen and (max-width: 920px){
  body{
    top: 88px;
  }
  .fixedtop {
    height: 88px;
  }
  .fixedtop__wrap{
    max-width: 480px;
    width: 100%;
  }
  .fixedtop__img{
    display: none;
  }
  .fixedtop__cap{
    float: none;
  }
  .fixedtop__btn{
    float: none;
    margin: 0 auto;
    margin-top: 10px;
  }
}
@media screen and (max-width: 479px){
  .fixedtop{
    text-align: center;
    height: 90px;
  }
  .fixedtop__wrap{
    max-width: 320px;
    width: 100%;
  }
  .fixedtop__text {
  	display: none;
  }
  .fixedtop__btn{
    margin-top: 0;
  }
}
@media screen and (max-width: 319px){
  body{
    top: 0;
  }
}


@media screen and (min-width: 1024px){
	.s5 img {   top: 10px;    left: 33px;    width: 370px; }
	.s6 img {    top: -25px;    width: 370px; }	
}

@media screen and (min-width: 768px) and (max-width: 1023px){
	
	.s5 img {    top: -29px;    width: 236px;    right: -59px; }
}

.code_dat  {  padding-bottom: 0px !important; }  
.nbrk {display:inline-block;}
.warning-border {padding:12px 19px; line-height:1.3;  background:#c0262b;    color: #fff; font-size: 110%;  }
.code-wrapper {
clear: both;
padding-right: 390px;
padding-left: 65px;
padding-top: 0px;
padding-bottom: 40px;
/* background: url("../img/fake.png"); */
background-position: bottom right 30px;
background-repeat: no-repeat;
background-size: 340px 410px;
background-position-y: -14px;
} 
.code-wrapper_v2 {
    background: url("../img/fake1_v2.png");
    background-position: bottom right 30px;
    background-repeat: no-repeat;
    background-size: 340px 410px;
    background-position-y: -14px;
}
@media screen and (max-width: 1023px){
.code-wrapper {padding-left:35px; padding-right: 35px; padding-top: 3px; padding-bottom:250px; background-position:center bottom 0px ; background-size:auto 231px; text-align:center} 
.fstp, .sstp {   margin-top: 0px;     font-size: 110% !important;    line-height: 1.5 !important; } 
.warning-border {    font-size: 130%!important; }
.warp {    font-size: 80%!important; } 
}
@media screen and (max-width: 767px){
.code-wrapper {padding-left:35px; padding-right: 35px; padding-top: 3px; padding-bottom:250px; background-position:center bottom 0px ; background-size:auto 231px; text-align:center} 
.fstp, .sstp {   margin-top: 0px;     font-size: 80% !important;    line-height: 1.5 !important; }  
.warning-border {    font-size: 90%!important;    padding: 12px 10px; }
.warp {  padding:13px 10px; font-size:65%; line-height:1.5; } 
}

.form section {
    position: relative;
    width: 100%;
    padding: 0px;
}

.btn {
    display: block;
    background: url("../img/btn.png") no-repeat;
    width: 280px;
    height: 81px;
    border: 0;
    outline: none;
    text-align: center;
    color: #FFFFff;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    cursor: pointer;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    margin: 0 auto;
}

.btn { font-size: 19px; }
.btnfreecenter { font-size: 19px; }

.old_price_val {display:block; font-weight:bold; font-size: 75%;}
.old_price {font-size: 24px; text-decoration: line-through;}
.old {background: #c0262b;    font-weight:bold; border-radius: 5px;    padding: 9px 10px 5px;    color: #fff;    min-width: 205px;}
.frzv {position:absolute; width:1px}
.dateinform {font-size: 130%;    line-height: 1.5;    text-transform: uppercase; }
.new {    color: #111;  }
.new .new_price_val {color: #c0262b;}

.minifytext {display: block;
    font-size: 65%;
    font-weight: bold;
    text-transform: lowercase;
}

@media screen and (min-width: 1024px) and (max-width: 10119px){
    .blockcenterbox {padding-left:110px}
    .s13 .blockcenterbox .prod {    left: 505px;    top: 80px;max-width: 100%;
        width: 300px; }
    .s13 .blockcenterbox .textblock { padding: 20px 80px 20px 20px !important;}
    .s1 .prod { bottom: 10px; left: 230px;max-width: 100%;
        width: 300px;}
}   
        
@media screen and (max-width: 1023px) and (min-width: 768px){
    .s1 .prod {   left: 360px;    top: 205px;}
    
}

@media screen and (max-width: 1119px){

}

@media screen and (max-width: 920px){
    .s1 { padding-top: 25px; }

}

@media screen and (max-width: 767px){
    .s5 img { right: -26px; padding-bottom: 20px; }
    .s6 img { right: 18px;}
    .s10 .plaha {   right: 160px ; }
    footer center {font-size:70% !important}
    .s13 .prod {            left: -11px;}
}

@media screen and (max-width: 479px){

}

@media screen and (max-width: 319px){
    main {    padding-top: 85px; }
    .fixedtop__wrap {   min-width: 315px;  }
}

.copyright { font-size: 14px;text-align: center; padding:20px 0;color: #6C6E6F;}
.copyright p { width: 100%; text-align: center; padding: 0; margin: 0; }
.copyright br { display: none; }
.copyright img { margin: 10px auto!important; max-width:100%; }
.copyright a {color: #6C6E6F; text-decoration: none;}
.copyright a:hover { color:#FF0069; text-decoration: none; }

.errField { display:none; font-size: 14px; background: #f00; color: #fff; text-align: center; padding: 10px; margin-bottom:10px; }

.errorMessage {font-size: 11px;background: rgba(255, 0, 0, 0.64);color: #fff;text-align: center;padding: 5px 10px;position: absolute;margin: 34px 0 0; z-index: 99999; }


.uslov{
    text-align: center;
    font-size: 15px;
    line-height: 1.3em;
    margin: 10px auto 0;
}

.copyright{
    padding: 15px 0;
    text-align: center;
}
.copyright>img{
    display: block;
    margin: 0 auto 10px;
}
.copyright>a{
    display: inline-block;
    margin: 0 5px;
    font-size: 14px;
    line-height: 1.1em;
    color: #333;
}